aside {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  float: left;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #ffffff;
  border-right: 1px solid #F7F8F9; }
  aside ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 500px; }
    aside ul li {
      padding-left: 37px; }
      aside ul li:active, aside ul li:focus, aside ul li:hover {
        border-left: 3px solid #6CA5FA; }

.logo {
  margin-bottom: 50px; }
  .logo img {
    margin: 30px;
    margin-left: 32px; }
