.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.block {
  width: 375px;
  height: 263px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 25px; }

.block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 125px;
  border-bottom: 1px solid #F7F8F9; }

.user-logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 32px; }
  .user-logo img {
    border-radius: 100%; }

.user-contact {
  width: 230px;
  overflow: hidden; }
  .user-contact img {
    width: 15px;
    max-height: 15px; }

.user-name,
.user-phone {
  padding-bottom: 10px; }

.user-phone,
.user-mail {
  color: #A9ACB0; }

.user-name,
.user-phone,
.user-mail {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.block-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0 25px; }
  .block-bottom a {
    padding-left: 34px;
    width: 322px;
    margin-bottom: 15px; }

.block-data,
.block-services {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 162px;
  height: 62px;
  background-color: #DAEDFF;
  color: #6CA5FA;
  font-size: 14px;
  word-wrap: break;
  background-repeat: no-repeat;
  background-position: 0px center; }

/**/
.block-data {
  border-right: 1px solid #ffffff;
  border-radius: 6px 0 0 6px; }
  .block-data img {
    width: 23px;
    height: 17px; }

.block-services {
  border-left: 1px solid #ffffff;
  border-radius: 0 6px 6px 0; }
  .block-services img {
    width: 23px;
    height: 19px; }

.block-data-red {
  background-color: #DC597C;
  color: white; }

.block-data-lightgrey,
.block-services-lightgrey {
  background: #F7F8F9;
  color: #A9ACB0; }

.big-block {
  width: 564px;
  background: #ffffff;
  padding: 32px 36px;
  border-radius: 8px; }

.big-block-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.money {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background: #F7F8F9;
  border-radius: 100%;
  margin-bottom: 25px;
  margin-right: 25px; }

.big-block-title {
  margin-bottom: 15px; }

.big-block-purpose {
  font-size: 14px;
  color: #A9ACB0; }

.big-block-form {
  border: 1px solid #F7F8F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 8px; }
  .big-block-form span {
    display: block;
    padding-top: 10px; }
  .big-block-form .chart {
    min-height: 98px; }

.cashbox,
.parishes {
  border-right: 1px solid #F7F8F9; }

.cashbox,
.parishes,
.costs {
  font-size: 11px;
  color: #A9ACB0;
  padding: 16px 20px;
  width: 33%;
  border-bottom: 1px solid #F7F8F9; }

.cashbox span {
  font-size: 18px; }

.parishes span {
  color: #6CA5FA;
  font-size: 18px; }

.costs span {
  color: red;
  font-size: 18px; }

.chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: auto; }
  .chart img {
    border-radius: 0 0 8px 8px; }

.long-block {
  width: 649px;
  height: 204px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 45px;
  border-radius: 6px; }

.empty-circles {
  position: absolute;
  top: 3px;
  right: 10px; }

.green-card,
.blue-card,
.red-card {
  position: relative;
  width: 162px;
  border-left: 2px solid;
  border-radius: 0px 7px 7px 0px; }

.green-card {
  border-color: #5FC8B6;
  background: #DBFBF5;
  height: 110px; }
  .green-card .card-time,
  .green-card .card-text {
    padding-left: 10px;
    padding-top: 10px;
    color: #5FC8B6; }

.blue-card {
  border-color: #2174EF;
  background: #DAEDFF;
  height: 85px; }
  .blue-card .card-time,
  .blue-card .card-text {
    padding-left: 10px;
    padding-top: 7px;
    color: #2174EF; }

.red-card {
  border-color: #DC597C;
  background: #FFEDF2;
  padding-left: 10px;
  padding-top: 5px;
  height: 65px; }
  .red-card .card-time,
  .red-card .card-text {
    color: #DC597C; }

.card-time {
  font-size: 12px; }

.card-text {
  font-size: 14px; }
