button {
  -webkit-box-shadow: none  !important;
  box-shadow: none  !important;
  outline: none  !important;
  padding: 0 !important; }

.btn {
  cursor: pointer;
  border-style: solid;
  width: 165px;
  height: 48px;
  font-weight: 700  !important;
  border-radius: 30px  !important; }
  .btn:hover {
    color: #ffffff !important; }

.btn-outline-blue {
  border-color: #6CA5FA !important;
  color: #6CA5FA !important; }
  .btn-outline-blue:hover {
    background: #6CA5FA !important; }

.btn-blue {
  color: #ffffff !important;
  background: #6CA5FA !important;
  border-color: #6CA5FA !important; }
  .btn-blue:hover {
    opacity: 0.9; }

.btn-outline-darkblue {
  border-color: #2174EF !important;
  color: #2174EF !important; }
  .btn-outline-darkblue:hover {
    background: #2174EF !important; }

.btn-darkblue {
  color: #ffffff !important;
  background: #2174EF !important;
  border-color: #2174EF !important; }
  .btn-darkblue:hover {
    opacity: 0.9; }

.btn-outline-grey {
  border-color: #A9ACB0 !important;
  color: #A9ACB0 !important; }
  .btn-outline-grey:hover {
    background: #A9ACB0 !important; }

.btn-grey {
  border-color: #A9ACB0 !important;
  background: #A9ACB0 !important;
  color: #ffffff !important; }
  .btn-grey:hover {
    opacity: 0.9; }

.btn-outline-green {
  border-color: #5FC8B6 !important;
  color: #5FC8B6 !important; }
  .btn-outline-green:hover {
    background: #5FC8B6 !important; }

.btn-green {
  border-color: #5FC8B6 !important;
  background: #5FC8B6 !important;
  color: #ffffff !important; }
  .btn-green:hover {
    opacity: 0.9; }

.btn-outline-yellow {
  border-color: #E8B95F !important;
  color: #E8B95F !important; }
  .btn-outline-yellow:hover {
    background: #E8B95F !important; }

.btn-yellow {
  border-color: #E8B95F !important;
  background: #E8B95F !important;
  color: #ffffff !important; }
  .btn-yellow:hover {
    opacity: 0.9; }

.btn-outline-red {
  border-color: #DC597C !important;
  color: #DC597C !important; }
  .btn-outline-red:hover {
    background: #DC597C !important; }

.btn-red {
  border-color: #DC597C !important;
  background: #DC597C !important;
  color: #ffffff !important; }
  .btn-red:hover {
    opacity: 0.9; }

.circle {
  color: white;
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 48px;
  font-weight: 400;
  background-color: #6CA5FA;
  background-image: url(../img/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 37px;
  border: none; }

.day-week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 178px;
  height: 43px;
  background: #DAEDFF;
  padding: 0 5px;
  border-radius: 6px; }

.day, .week {
  width: 91px;
  height: 35px;
  background: none;
  border: none;
  color: #6CA5FA;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .day:hover, .day:focus, .day:active, .week:hover, .week:focus, .week:active {
    color: #ffffff;
    background: #6CA5FA; }

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 12px;
  height: 26px;
  background: transparent  !important;
  border: none;
  color: #4D4D4D; }
  .add:hover {
    color: #4D4D4D; }

.small-circle {
  border: none;
  width: 21px;
  height: 21px;
  background-color: #DAEDFF;
  border-radius: 37px;
  background-image: url(../img/small-plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px; }

.btn-sm {
  width: 133px;
  height: 31px;
  border-radius: 20px; }

.custom-checkbox .custom-control-label::before {
  border-radius: 100% !important; }

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #2174EF !important;
  border-color: #2174EF !important; }
