form {
  padding: 50px 30px;
  background: #ffffff !important;
  border-radius: 14px;
  border: 1px solid #F7F8F9; }

.form-group {
  margin-bottom: 25px !important;
  border-bottom: 1px solid #A9ACB0 !important;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .form-group:hover, .form-group:focus, .form-group:active {
    border-color: #2174EF !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .form-group label {
    min-height: 16px;
    font-size: 14px;
    color: #A9ACB0; }

.form-control {
  border: none !important;
  border-radius: 0px !important;
  padding-left: 0 !important; }
  .form-control:hover, .form-control:focus, .form-control:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.book {
  position: relative;
  top: -30px;
  right: -225px;
  color: #6CA5FA;
  border-left: 1px solid #A9ACB0;
  padding-left: 10px;
  float: left; }

.ageFrom {
  position: relative;
  width: 30px;
  height: 24px;
  top: -30px;
  color: #6CA5FA;
  float: left;
  border-right: 1px solid #A9ACB0; }

.playFrom {
  width: 33px;
  color: #6CA5FA;
  height: 23px;
  position: relative;
  bottom: -39px;
  float: left;
  border-right: 1px solid #A9ACB0; }

.playTo {
  position: relative;
  width: 33px;
  color: #6CA5FA;
  height: 23px;
  bottom: -39px;
  float: left;
  border-right: 1px solid #A9ACB0; }
