header {
  padding-right: 40px;
  padding-left: 115px;
  border-bottom: 1px solid #F7F8F9;
  border-right: 1px solid #F7F8F9; }
  header img {
    vertical-align: text-bottom; }
  header input {
    margin-left: 25px; }
  header hr {
    position: relative;
    width: 85px;
    top: -15px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  header .form-group {
    margin-bottom: 0 !important;
    border: 1px solid #A9ACB0;
    border-radius: 30px !important;
    padding: 5px 20px; }

.page-menu {
  width: 20px;
  height: 2px;
  background: #DAEDFF;
  position: relative; }
  .page-menu:after, .page-menu:before {
    content: " ";
    width: 20px;
    height: 2px;
    background: #DAEDFF;
    position: absolute; }
  .page-menu:after {
    top: 10px; }
  .page-menu:before {
    top: -10px; }

.header-search {
  width: 450px;
  border: none;
  outline: none; }

.header-search::-webkit-input-placeholder {
  color: #A9ACB0; }

.header-search:-ms-input-placeholder {
  color: #A9ACB0; }

.header-search::-ms-input-placeholder {
  color: #A9ACB0; }

.header-search::placeholder {
  color: #A9ACB0; }

.br {
  padding: 20px 0;
  border-right: 1px solid #F7F8F9; }
