.login-form {
  width: 560px;
  background: #fff; }
  .login-form form {
    border: none; }
    .login-form form button {
      display: block;
      margin: 0 auto;
      margin-top: 70px;
      margin-bottom: 100px; }

.user-login-bg,
.company-login-bg,
.mail-login-bg {
  -ms-flex-item-align: end;
  align-self: flex-end;
  min-height: 900px;
  min-width: 100%;
  background-position: left top; }

.user-login-bg {
  background: url("../img/user-login.jpg") no-repeat; }

.company-login-bg {
  background: url("../img/company-login.jpg") no-repeat; }

.mail-login-bg {
  background: url("../img/mail-login.jpg") no-repeat; }

.login-title,
.login-title-last {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 60px; }

.login-title-last {
  text-align: center; }

.reg-advice {
  color: #6CA5FA;
  margin-top: 88px;
  margin-bottom: 35px; }

small {
  display: inline-block;
  margin-bottom: 20px;
  max-width: 410px !important;
  font-size: 14px !important;
  color: #A9ACB0;
  font-weight: 500; }

.login-confirm {
  margin-bottom: 255px;
  text-align: center; }
  .login-confirm p {
    margin-bottom: 95px;
    line-height: 25px;
    color: #A9ACB0; }

.postscript {
  text-align: center;
  font-size: 14px;
  color: grey; }
