ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  ul li {
    padding-left: 25px; }

.nav-link {
  text-decoration: none !important; }
  .nav-link span {
    font-size: 18px;
    color: #A9ACB0; }
  .nav-link:hover span, .nav-link:focus span, .nav-link:active span {
    padding-bottom: 10px;
    color: #4D4D4D;
    border-bottom: 3px solid #6CA5FA; }
