@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
* {
  color: #4D4D4D;
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

h4 {
  color: red; }

html, body {
  min-height: 100%; }

main {
  width: 100%;
  min-height: 834px;
  padding: 25px 40px 0 140px;
  background-color: #F7F8F9; }

section {
  margin-bottom: 40px; }

.container-fluid {
  max-width: 1470px;
  position: relative; }

.row {
  margin: 0 !important; }

h1, h2, h3 {
  text-transform: capitalize; }

h1 {
  font-size: 26px;
  font-weight: 700; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

p {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px; }

a {
  display: inline-block;
  color: #2174EF !important;
  text-decoration: underline !important; }

.grey {
  font-size: 14px !important;
  color: #A9ACB0 !important; }

.red {
  color: #DC597C !important; }

.lightred {
  color: #FFEDF2 !important; }

.blue {
  color: #6CA5FA !important; }

.yellow {
  color: #E8B95F !important; }
