table {
  width: 100%;
  background: #ffffff;
  border-radius: 14px; }
  table tr:first-child td {
    color: #A9ACB0; }
  table tr {
    border-bottom: 1px solid #F7F8F9; }

.tableImg {
  display: inline-block;
  width: 54px;
  height: 54px;
  background: #DAEDFF;
  border-radius: 100%; }

td {
  padding: 20px 25px; }
  td span {
    font-size: 14px;
    display: block;
    color: #A9ACB0; }
